::-webkit-scrollbar {
    display: none;
}
body{
    height: 100vh;
    background-color: white;
}
.otsikko{
    text-align: center;
    font-size: 7rem;
    margin-top: 0;
    color: #000000;
}

.eka{
    height: 100vh;
    background-color: black;
}
.loop{
   height: 100%;
  width: 100%;
    margin: auto;
}
.toka{
    height: 100vh;
}
.height{
    height: 6rem;
}
.kolmas{
    height: 100vh;
}
.kuva{
    height:100%;
    width: 100%;
    margin: auto;
}
header {
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 2px lightgray;
    color: #000000;
}

h1 {
    text-align: center;
    color: #000000;
    width: 20rem;
}

p {
    color: #000000;
    text-align: center;
}


li {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}


.app{
    max-width: 60%;
}
.rowy {
    display: flex;
    min-width: 65%;
    table-layout: fixed;
    border-spacing: 10px;
}
.row {
    display: flex;
    min-width: 65%;
    table-layout: fixed;
    border-spacing: 10px;
    border-bottom: 6px solid rgba(25, 138, 186, 0.73);
}
.Row{
    padding-left: 7rem;
}
.column{
    max-width: 70%;
    min-width: 45%;
    padding-right: 5rem;
    border-bottom: 1px solid #aaa;

}
.columnh{
    min-width: 50%;
    text-align: center;
}
.text {
    padding-left: 20px;
}
.otsikko{
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-size: 0.6rem;
    color: black;
}
.depart{
    text-align: center;
    padding-right: 0;
}

.site{
    top: 15rem;
    position: absolute;
    text-align: center;
    width: 100vw;
}
.taulukko{
    max-width: 24rem;
    margin: auto;

}

a{
    color: black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Yu Gothic Medium";
    font-size: 1rem;
}
.cancelled{
    color: red;
    font-size: 0.9rem;
}


.column {
    float: left;
    padding: 10px;
    border: black;
    width: 13rem;

}
.columno {
    float: left;
    padding: 10px;
    border: black;
    width: 27%;
}
.hinta{
    padding-top: 1.5rem;
}
