::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-color: #d2cfd0;
    background-image: url("myyr.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.img {
    position: fixed;
    width: 8vw;
    height: auto;
    right: 15vw;
    bottom: 2.5vh;
}

.otsikko {
    text-align: left;
    background-color: #fd9f1a;
    font-size: 20px;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    color: white;
}

.parentHeight {
    height: 100vh;
}

iframe {
    border-radius: 4px;
    max-height: 88vh;
    max-width: 50vw;
}

.backgroundOpacity {
    margin: auto;
    max-width: 75vw;
    max-height: 400vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.loop {
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: -3;
}

.toka {
    margin: auto;
    max-width: 50vw;
    min-height: 85vh;
    border-radius: 4px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: white;
}

.kolmas {
    margin: auto;
    max-width: 50vw;
    min-height: 85vh;
    border-radius: 4px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: white;
}

.kuva {
    height: 100%;
    width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #000000;
}

p {
    color: #000000;
    text-align: center;
}

li {
    color: #fea101;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.appp {
    max-width: 60%;
    border-radius: 9px;

}

.rowy {
    display: flex;
    min-width: 65%;
    table-layout: fixed;
    border-spacing: 10px;
    border-bottom: 1px dashed rgba(190, 190, 190, 1);
    border-left: 1px dashed rgba(190, 190, 190, 1);
    border-right: 1px dashed rgba(190, 190, 190, 1);
}

.row {
    display: flex;
    min-width: 65%;
    table-layout: fixed;
    border-spacing: 10px;
    border-bottom: 1px dashed rgba(190, 190, 190, 1);
}

.Row {
    padding-left: 7rem;
}

.columnh {
    float: left;
    padding: 10px;
    width: 25vw;
}

h2 {
    font-size: 0.6rem;
    color: #000000;

}

.site {
    top: 15rem;
    position: absolute;
    text-align: center;
    width: 100vw;
}

.taulukko {
    max-height: 0rem;
    background-color: #fd9f1a;
    margin: auto;

}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 0.6px;
}

.cancelled {
    color: red;
    font-size: 0.9rem;
}

.column {
    float: left;
    padding: 10px;
    width: 33.3%;
}
.column1 {
    float: left;
    width: 33.3%;
}

.columno {
    float: left;
    padding: 10px;
    width: 33.3%;
    border-bottom: 2px solid #505659;
}

.middle {
    border-left: 1px dashed rgba(190, 190, 190, 1);
    border-right: 1px dashed rgba(190, 190, 190, 1);
}
.middleU {
    border-left: 1px solid rgba(190, 190, 190, 1);
    border-right: 1px solid rgba(190, 190, 190, 1);
}

.left {
    width: 50%;
  //  border-right: 1px dashed rgba(190, 190, 190, 1);
}

.hinta {
    padding-top: 1.5rem;
}

.grandPar {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    margin: auto;
    width: 50vw;
    min-height: 8vh;
    bottom: 2.5vh;
    left: 25vw;
}

.parent {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: #fd9f1a;
    color: white;
}

.weatherDiv {
    display: inline-block;
    text-align: left;
    padding: 4px;
    vertical-align: middle;
}

.weatherIcon {
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
}
.weatherClock{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 2rem;
    padding-right: 30px;
}

.weatherDiv {
    display: inline-block;
    text-align: left;
    padding: 4px;
    vertical-align: middle;
}

.weatherIcon {
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
}